# Ignore the Python cache
__pycache__/

# Ignore LaTex outputs in the main directory
*.aux
*.bbl
*.blg
*.log
*.pdf
*.spl
*.synctex.gz

# Ignore specific file types in the figs/ folder
_figures/*.pdf

# Ignore .nc and .npz files in the _data/ folder
_data/*.nc
_data/*.npz

# Ignore the contents of _dustbin/
_dustbin/*

# Ignore robot bits
.venv
.vscode
.claude

