numpy
xarray
pandas
netCDF4

scipy
scikit-learn
scientimate

matplotlib
seaborn

ewdm @ git+https://github.com/dspelaez/extended-wdm.git
epss @ git+https://github.com/unh-cassll/polarimetric-slope-sensing.git#subdirectory=Python
